:root {
  /* ================= Primary ================= */
  --primary-color: #006ae4;
  --primary-alt-color: #e6f0fc;
  --primary-hover-color: #004ba2;

  /* ================= Text Colors ================= */
  --text-primary-color: #07090f;
  --text-secondary-color: #1f2937;
  --text-tertiary-color: #4b5563;
  --text-quaternary-color: #6b7280;
  --text-white-color: #f9fafb;
  --text-disabled-color: #9ca3af;

  /* ================= Separators ================= */
  --separator-color: #e5e7eb;
  --separator-alt-color: #d1d5db;

  /* ================= Backgrounds ================= */
  --bg-lightest-color: #fefefe;
  --bg-light-color: #f9fafb;
  --bg-semi-light-color: #f3f4f6;
  --bg-semi-dark-color: #f3f4f5;
  --bg-dark-color: #e5e7eb;

  /* ================= Status ================= */
  --success-color: #36b37e;
  --success-bg-color: #ebf7f2;

  --error-color: #ff4530;
  --error-bg-color: #ffecea;

  --warn-color: #ffab00;
  --warn-bg-color: #fff7e6;

  --info-color: #00b8d9;
  --info-bg-color: #e6f8fb;

  --premium-color: #ab20a9;
  --premium-bg-color: #fbcefa;
}
