.sort-by {
  position: relative;
  padding-right: 18px;
  cursor: pointer;

  &:before,
  &:after {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid;
    position: absolute;
    right: 5px;
    color: #bcbdbe;
    right: 4px;
  }

  &:after {
    transform: rotate(180deg);
    margin-top: -8px;
  }

  &:before {
    margin-top: 2px;
  }

  &.asc:before,
  &.desc:after {
    color: black;
  }

  &.asc:after,
  &.desc:before {
    color: #bcbdbe;
  }

  &.none:before,
  &.none:after {
    color: #bcbdbe;
  }
}

.table-container {
  overflow: auto;
  width: 100%;
  height: calc(100vh - 270px);
}

.table {
  width: 100%;
  border-collapse: collapse;

  thead {
    position: sticky;
    top: -1px;
    z-index: 2;
  }

  th {
    background: #f3f4f5;
  }

  th,
  td {
    padding: 12px;
    border-top: 1px solid var(--separator-color);
    border-bottom: 1px solid var(--separator-color);
    text-align: left;
    white-space: nowrap;
  }

  th {
    color: var(--text-secondary-color);
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
  }

  td {
    color: var(--text-primary-color);
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;

    .actions {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;

      img {
        cursor: pointer;
      }
    }
  }

  tr:nth-child(even) td {
    background-color: var(--bg-light-color);
  }
}