.table-container {
  overflow: auto;
  width: 100%;
  height: calc(100vh - 270px);
}

.table {
  width: 100%;
  border-collapse: collapse;

  thead {
    position: sticky;
    top: 0px;
    z-index: 2;
  }

  th {
    background: var(--bg-semi-dark-color, #f3f4f5);
  }

  th,
  td {
    padding: 12px;
    border-top: 1px solid var(--separator-color, #e5e7eb);
    border-bottom: 1px solid var(--separator-color, #e5e7eb);
    text-align: left;
    white-space: nowrap;
  }

  th {
    color: var(--text-secondary-color, #1f2937);
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
  }

  td {
    color: var(--text-primary-color, #07090f);
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;

    .actions {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;

      img {
        cursor: pointer;
      }
    }
  }

  tr:nth-child(even) td {
    background-color: var(--bg-light-color, #f9fafb);
  }
}

.ellipsis {
  display: inline-block;
  max-width: 240px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: middle;
}

.sort-by {
  position: relative;
  padding-right: 18px;
  cursor: pointer;

  &:before,
  &:after {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid;
    position: absolute;
    right: 4px;
    color: var(--text-disabled-color, #9ca3af);
  }

  &:after {
    transform: rotate(180deg);
    margin-top: -8px;
  }

  &:before {
    margin-top: 2px;
  }

  &.asc:before,
  &.desc:after {
    color: var(--text-primary-color, #07090f);
  }

  &.asc:after,
  &.desc:before {
    color: var(--text-disabled-color, #9ca3af);
  }

  &.none:before,
  &.none:after {
    color: var(--text-disabled-color, #9ca3af);
  }
}
