.accordion {
    background: #f9fafb;
    border: 1px solid #e5e7eb;
    color: #374151;
    border-radius: 6px;
    font-weight: 700;
    cursor: pointer;
    padding: 8px;
    width: 100%;
    text-align: left;
    transition: all 0.4s;

    &:hover {
        background-color: #f3f4f6;
    }

    &:after {
        content: '\002B';
        color: #777;
        font-weight: bold;
        float: right;
        margin-left: 5px;
    }

    &.active {
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
    }

    &.active:after {
        content: "\2212";
    }
}

.panel {
    background-color: white;
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.3s ease;
    background: #ffffff;
    color: #4b5563;
    border: none;
    box-sizing: border-box;

    .panel-content {
        padding: 8px;
    }

    &.active {
        border: 1px solid #e5e7eb;
        border-top: 0;
        border-top-right-radius: 0;
        border-top-left-radius: 0;
        border-bottom-right-radius: 6px;
        border-bottom-left-radius: 6px;
    }

}