.dropdown-menu {
    position: relative;
    cursor: pointer;
    border-radius: 6px;

    &.dropdown-active {
        background-color: var(--separator-color, #e5e7eb);
    }

    &.right {
        .dropdown-content {
            right: auto;
            left: 10%;
        }
    }
}

.dropdown-content {
    position: absolute;
    top: 125%;
    right: 10%;
    z-index: 3;

    display: flex;
    flex-direction: column;

    padding: 8px;
    border-radius: 8px;
    border: 1px solid var(--separator-color, #e5e7eb);
    background: var(--bg-lightest-color, #fefefe);
    box-shadow: 3px 9px 32px rgba(0, 0, 0, 0.1);

    opacity: 0;
    visibility: hidden;
    transition: opacity 0.15s ease, visibility 0.15s ease;

    &.active {
        opacity: 1;
        visibility: visible;
    }

    &.open-top {
        top: auto;
        bottom: 125%;
    }

    &.nopadding {
        padding: 0;
    }
}

:host ::ng-deep [dropdown-item] {
    padding: 8px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    gap: 8px;
    white-space: nowrap;
    cursor: pointer;

    &:hover {
        background-color: var(--separator-alt-color, #d1d5db);
    }

    &.active {
        background-color: var(--primary-alt-color, #e6f0fc);
        color: var(--primary-color, #006ae4);
    }
}
