.filter-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    flex: 1 2;
    position: relative;

    .filter-search {
        border-radius: 8px;
        border: 1px solid #E5E7EB;
        background: #F9FAFB;
        display: flex;
        width: 300px;
        padding: 8px 8px 8px 16px;
        align-items: center;
        gap: 8px;

        input {
            color: var(--text-primary-color);
            font-size: 14px;
            font-weight: 400;
            line-height: 20px;
            border: 0;
            width: 90%;
            outline: none;
            background-color: transparent;

            ::placeholder {
                color: var(--placeholder-text-color);
            }
        }
    }

    .filter-options {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 12px;

        img {
            cursor: pointer;
        }
    }

    .filter-item {
        border-radius: 20px;
        border: 1px solid #006AE4;
        background: #E6F0FC;
        display: flex;
        padding: 4px 8px;
        align-items: center;
        gap: 8px;

        color: #006AE4;
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
    }

    .reset-text {
        color: #006AE4;
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        text-decoration-line: underline;
        text-decoration-style: solid;
        text-decoration-skip-ink: auto;
        text-decoration-thickness: auto;
        text-underline-offset: auto;
        text-underline-position: from-font;
        cursor: pointer;
    }

    .filter-btn {
        border-radius: 8px;
        border: 1px solid #E5E7EB;
        background: #F9FAFB;
        display: flex;
        padding: 6px 8px;
        align-items: center;
        gap: 8px;
        cursor: pointer;

        color: #07090F;
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;

        .num {
            align-items: center;
            justify-content: center;
            padding: 4px;
            border-radius: 4px;
            background: #07090F;
            color: #F9FAFB;
            height: 20px;
            width: 20px;
        }
    }
}

.filter-dropdown {
    display: flex;
    width: 328px;
    padding-bottom: 16px;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    border-radius: 8px;
    border: 1px solid #E5E7EB;
    background: #FEFEFE;
    box-shadow: 3px 9px 32px 0 rgba(0, 0, 0, 0.14);

    position: absolute;
    z-index: 4;
    top: 100%;
    right: 0;

    .filter-header {
        display: flex;
        padding: 12px;
        align-items: center;
        justify-content: space-between;
        gap: 10px;
        align-self: stretch;
        border-bottom: 1px solid #E5E7EB;
        background: #F9FAFB;

        .filter-header-title {
            color: #07090F;
            font-size: 16px;
            font-weight: 500;
            line-height: 24px;
        }

        .filter-btn-close {
            display: flex;
            padding: 8px;
            align-items: center;
            gap: 10px;
            border-radius: 28px;
            border: 1px solid #E5E7EB;
            background: #F3F4F6;
            width: 30px;
            height: 30px;
            cursor: pointer;
        }

    }

    .filter-body {
        align-self: stretch;
        padding: 0 12px;
        max-height: 300px;
        overflow: auto;

        .form-group {
            margin-bottom: 12px;
        }
    }

    .filter-footer {
        display: flex;
        padding: 0 12px;
        justify-content: space-between;
        align-items: center;
        align-self: stretch;
    }
}