@import "@ng-select/ng-select/themes/default.theme.css";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;600;700;800;900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300;400;500;600;700;800;900&display=swap');
@import "scss/_colors";
@import "scss/_bootstrap";
@import "scss/_button";
@import "scss/_form";
@import "scss/_modal";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Roboto, sans-serif;
    font-size: 14px;
    line-height: 1.25;
    font-weight: 400;
}

.mat-mdc-dialog-container .mdc-dialog__surface {
    background: transparent !important;
    border-radius: 0 !important;
    box-shadow: none !important;
    overflow: visible;
}