@import "@ng-select/ng-select/themes/default.theme.css";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;600;700;800;900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300;400;500;600;700;800;900&display=swap');
@import "scss/_colors";
@import "scss/_bootstrap";
@import "scss/_button";
@import "scss/_form";
@import "scss/_modal";
@import "scss/_table";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Roboto, sans-serif;
    font-size: 14px;
    line-height: 1.25;
    font-weight: 400;
}

.mat-mdc-dialog-container .mdc-dialog__surface {
    background: transparent !important;
    border-radius: 0 !important;
    box-shadow: none !important;
    overflow: visible;
}

.ng-select {
    align-self: stretch;
    outline: none;
    box-shadow: none;
    padding: 0 !important;
    border: 0 !important;
}

.ng-select .ng-select-container {
    padding: 12px !important;
    height: auto !important;
    border: 1px solid var(--disabled-color);
    background-color: var(--white-color);
    border-radius: 12px;
}

.ng-select .ng-select-container .ng-value-container .ng-input {
    left: 1.5% !important;
    top: 10px !important;
}


.ng-select .ng-select-container .ng-value-container .ng-input>input {
    color: var(--text-primary-color);
    font-size: var(--font-size-small);
    font-weight: var(--font-weight-regular);
    line-height: var(--line-height-small);
}

.ng-select .ng-select-container .ng-value-container .ng-placeholder {
    color: #757575;
    margin-left: -8px !important;
    font-size: var(--font-size-small) !important;
    font-weight: var(--font-weight-regular) !important;
    line-height: var(--line-height-small) !important;
}