.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 16px;
    gap: 8px;
    border-radius: 8px;
    outline: none;
    border: 0px;
    font-size: var(--font-size-small);
    font-weight: var(--font-weight-semi-bold);
    line-height: var(--line-height-small);
    cursor: pointer;
}

.btn-primary {
    background-color: var(--primary-color);
    color: var(--text-white-color);

    &:hover {
        background-color: var(--primary-hover-color);
    }

    &:disabled {
        background-color: var(--disabled-color);
        color: var(--text-disabled-color);
    }
}

.btn-secondary {
    border: 1px solid var(--primary-color);
    background: transparent;
    color: var(--primary-color);

    &.btn-outlined {
        border: 1px solid var(--disabled-color);
        color: var(--primary-text-color);
    }

    &:hover {
        border-color: var(--primary-hover-color);
        color: var(--primary-hover-color);
    }

    &:disabled {
        border-color: var(--disabled-color);
        color: var(--text-disabled-color);
    }
}



.btn-soft {
    background-color: var(--primary-alt-color);
    color: var(--primary-color);

    &:hover {
        color: var(--primary-hover-color);
    }

    &:disabled {
        background-color: var(--disabled-color);
        color: var(--text-disabled-color);
    }
}

.btn-ghost {
    background: transparent;
    color: var(--primary-color);

    &:hover {
        color: var(--primary-hover-color);
    }

    &:disabled {
        border: 1px solid var(--disabled-color);
        color: var(--text-disabled-color);
    }
}