.modal {
    border-radius: 8px;
    border: 1px solid var(--disabled-color);
    background: var(--bg-light-color);
    box-shadow: 3px 9px 32px 0 rgba(0, 0, 0, 0.10);
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .modal-header {
        display: flex;
        padding: 16px 20px;
        justify-content: flex-start;
        align-items: center;
        gap: 10px;
        align-self: stretch;
        background: var(--text-white-color);
        border-bottom: 1px solid var(--disabled-color);
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        position: relative;

        .modal-title {
            color: var(--text-primary-color);
            font-size: 16px;
            font-weight: 500;
            line-height: 24px;
        }

        .modal-sub-title {
            color: var(--text-primary-alt-color);
            font-size: 14px;
            font-weight: 400;
            line-height: 20px;
        }

        .btn-close {
            display: flex;
            padding: 8px;
            align-items: center;
            justify-content: center;
            gap: 10px;
            position: absolute;
            right: 12px;
            top: -42px;
            color: var(--text-primary-color);
            background-color: var(--bg-light-color);
            box-shadow: 0 4px 7px 0 rgba(0, 0, 0, 0.08);
            border: 0;
            border-radius: 28px;
            width: 30px;
            height: 30px;
        }
    }

    .modal-body {
        padding: 20px;
    }

    .modal-footer {
        display: flex;
        padding: 16px 20px;
        justify-content: space-between;
        align-items: center;
        align-self: stretch;
        border-top: 1px solid var(--disabled-color);
    }
}


.slide-up {
    animation: slide-up 0.5s ease;
}

.slide-down {
    animation: slide-down 0.5s ease;
}

.fullscreen {
    margin-top: 48px;
}

.fullscreen.slide-down {
    animation: slide-down 1s ease;
}

.fullscreen .modal {
    width: 100vw;
    height: 95vh;
    border-radius: 0;
}

@keyframes slide-up {
    0% {
        transform: translateY(200%);
    }

    100% {
        transform: translateY(0%);
    }
}

@keyframes slide-down {
    0% {
        transform: translateY(0%);
    }

    100% {
        transform: translateY(300%);
    }
}