.paginator {
    display: flex;
    height: 32px;
    padding: 0 12px;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
}

.paginator-dropdown-btn {
    position: relative;
    width: auto !important;

    svg {
        rotate: 90deg;
    }
}

.page-items {
    display: flex;
    align-items: center;
    gap: 6px;
}

.page-text {
    color: var(--text-primary-color, #07090f);
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;

    &.bold {
        font-weight: 700;
    }

    &.light {
        color: var(--text-quaternary-color, #6b7280);
    }
}

.paginator-btn {
    border: 1px solid var(--separator-color, #e5e7eb);
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px;
    border-radius: 8px;
    padding: 6px;
    background: transparent;
    display: flex;
    width: 32px;
    height: 32px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    aspect-ratio: 1/1;
    cursor: pointer;

    color: var(--text-primary-color, #07090f);
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;

    &:hover {
        background-color: var(--bg-semi-light-color, #f3f4f6);
    }

    &.active {
        background-color: var(--primary-color, #006ae4);
        color: var(--text-white-color, #f9fafb);
    }



    &.disabled {
        color: var(--separator-alt-color, #d1d5db);
        background-color: transparent;
        cursor: default;
    }
}

.arrow-buttons {
    display: flex;
    gap: 6px;
}

span {
    font-size: 12px;
}